@using DotNetBlazor.Client.Components;
@using DotNetBlazor.Client.Services;
@inherits LayoutComponentBase

@inject NavigationManager NavigationManager
@inject IAccountService AccountService

<ShowLoader />
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <button class="btn btn-default" @onclick="Logout">
                <span class="oi oi-account-logout" aria-hidden="true"></span> Logout
            </button>        
        </div>
        <article class="content px-4">
            @Body
        </article>
        <SessionExpired />
    </main>
</div>


@code {
    protected override async Task OnInitializedAsync()
    {
        if (!await AccountService.IsAuthenticated())
        {
            NavigationManager.NavigateTo("/login");
        }
    }
    private async Task Logout()
    {
        await AccountService.LogoutAsync(); 
        NavigationManager.NavigateTo("/login");
    }
}