@using DotNetBlazor.Client.Components;
@using DotNetBlazor.Client.Services;
@inherits LayoutComponentBase

@inject NavigationManager NavigationManager
@inject IAccountService AccountService

<ShowLoader />
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4 d-flex align-items-center">
            <h3 class="page-title flex-grow-1">@pageTitle</h3>
            <button class="btn btn-default" @onclick="()=> IsOpenLogoutModal = true">
                <span class="oi oi-account-logout" aria-hidden="true"></span> Logout
            </button>
        </div>
        <article class="content px-4">
            @Body
        </article>
        <SessionExpired />
    </main>
</div>

<Modal Header="Logout" IsOpen="IsOpenLogoutModal" Close="()=> IsOpenLogoutModal = false">

    <Body>
        <p>Are you sure want to logout?</p>
    </Body>
    <Footer>
        <SubmitButton Text="Logout" Type="danger" OnClick="Logout" />
    </Footer>
</Modal>

@code {

    private string pageTitle = "Dashboard";
    private bool IsOpenLogoutModal = false;

    public void SetPageTitle(string title)
    {
        pageTitle = title;
    }
    protected override async Task OnInitializedAsync()
    {
        if (!await AccountService.IsAuthenticated())
        {
            NavigationManager.NavigateTo("/login");
        }
    }
    private async Task Logout()
    {
        await AccountService.LogoutAsync();
        NavigationManager.NavigateTo("/login");
    }
}