@using DotNetBlazor.Client.Services;
@inherits LayoutComponentBase

@inject NavigationManager NavigationManager
@inject IAccountService AccountService

<div class="page">

    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <NavLink href="#" @onclick="Logout">Logout</NavLink>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
    <UnauthorizedPopup IsPopupOpen="@UnauthorizedPopup" />
</div>


@code {
    private bool UnauthorizedPopup = false;

    protected override async Task OnInitializedAsync()
    {
        if (!await AccountService.IsAuthenticated())
        {
            SetUnauthorizedPopup();
        }
        AccountService.UnauthorizedPopup += SetUnauthorizedPopup;
    }

    private void SetUnauthorizedPopup()
    {
        UnauthorizedPopup = true;
    }

    private async Task Logout()
    {
        await AccountService.LogoutAsync();
        NavigationManager.NavigateTo("/account/login");
    }

    public void Dispose()
    {
        AccountService.UnauthorizedPopup -= SetUnauthorizedPopup;
    }

}