@using DotNetBlazor.Client.Components
@using DotNetBlazor.Client.Services;
@inherits LayoutComponentBase

@inject NavigationManager NavigationManager
@inject IAccountService AccountService

<div class="page">

    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <NavLink href="#" @onclick="Logout">Logout</NavLink>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>


@code {
    private SessionExpired? sessionExpired;

    protected override async Task OnInitializedAsync()
    {
        if (!await AccountService.IsAuthenticated())
        {
            sessionExpired?.OpenPopup();
        }
    }

    private async Task Logout()
    {
        await AccountService.LogoutAsync();
        NavigationManager.NavigateTo("/login");
    }

}