@using DotNetBlazor.Client.Services;
@inject IAccountService AccountService
@inject NavigationManager NavigationManager

<div class="top-row ps-3 navbar navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="">Dashboard</a>
    <button
      title="Navigation menu"
      class="navbar-toggler"
        @onclick="ToggleNavMenu"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
  <nav class="flex-column">
    <div class="nav-item px-3">
      <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
        <span class="oi oi-home" aria-hidden="true"></span> Home
      </NavLink>
    </div>
    <div class="nav-item px-3">
      <NavLink class="nav-link" href="/profile">
        <span class="oi oi-person" aria-hidden="true"></span> Profile
      </NavLink>
    </div>
    <div class="nav-item px-3">
      <NavLink class="nav-link" href="/change-password">
        <span class="oi oi-lock-locked" aria-hidden="true"></span> Change
        Password
      </NavLink>
    </div>
    @*<div class="nav-item px-3">
      <NavLink class="nav-link" href="#" @onclick="Logout">
        <span class="oi oi-account-logout" aria-hidden="true"></span> Logout
      </NavLink>
    </div> *@
  </nav>
</div>

@code {
    private bool collapseNavMenu = true; private string? NavMenuCssClass =>
    collapseNavMenu ? "collapse" : null; private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
} 
