@page "/"
@using DotNetBlazor.Client.Pages.Todo.Components
@using DotNetBlazor.Client.Services
@using DotNetBlazor.Shared.Models.Profile
@inject IProfieService ProfileService

<PageTitle>Dashboard</PageTitle>

<div class="container">
    <div class="col-md-12">
        <div class="card text-center">
            <div class="card-header">
                <h2>Welcome, @(response?.Data?.FullName ?? "Guest")!</h2>
            </div>
            <TodoProgress />
        </div>
    </div>
</div>

@code {
    private UserDetailResponse? response;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            response = await ProfileService.GetProfile();
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
    }
}
