@page "/account/login"
@layout EmptyLayout
@using DotNetBlazor.Client.Services;
@using DotNetBlazor.Shared.Models.Account;
@using System.Net;

@inject IAccountService AccountService
@inject IAlertService AlertService
@inject NavigationManager NavigationManager

<div class="card">
    <h4 class="card-header">Login</h4>
    <div class="card-body">
        <EditForm Model="@model" OnValidSubmit="OnValidSubmit">
            <DataAnnotationsValidator />
            <div class="form-group">
                <label>Username</label>
                <InputText @bind-Value="model.Email" class="form-control" />
                <ValidationMessage For="@(() => model.Email)" />
            </div>
            <div class="form-group">
                <label>Password</label>
                <InputText @bind-Value="model.Password" type="password" class="form-control" />
                <ValidationMessage For="@(() => model.Password)" />
            </div>
            <button disabled="@loading" class="btn btn-primary">
                @if (loading)
                {
                    <span class="spinner-border spinner-border-sm mr-1"></span>
                }
                Login
            </button>
            <NavLink href="account/register" class="btn btn-link">Register</NavLink>
        </EditForm>
    </div>
</div>

@code {
    private LoginRequest model = new();
    private bool loading;

    [SupplyParameterFromQuery]
    public string ReturnUrl { get; set; }

    private async void OnValidSubmit()
    {
        // reset alerts on submit
        AlertService.Clear();

        loading = true;
        try
        {
            var response = await AccountService.LoginAsync(this, model);
            if (response?.Response?.Status == (int)HttpStatusCode.OK)
            {
                NavigationManager.NavigateTo(ReturnUrl ?? "/dashboard");
            }
            else
            {
                AlertService.Error(response?.Response?.Message);
                loading = false;
                StateHasChanged();
            }
        }
        catch (Exception ex)
        {
            AlertService.Error(ex.Message);
            loading = false;
            StateHasChanged();
        }
    }
}