<PageTitle>Not found</PageTitle>
<LayoutView Layout="@typeof(MainLayout)">
  <div class="row justify-content-center align-items-center">
    <div class="col-md-6 text-center">
      <h1 class="display-1">404</h1>
      <p class="lead">Sorry, there's nothing at this address.</p>
      <a href="/" class="btn btn-primary">Go to Home</a>
    </div>
  </div>
</LayoutView>

