@using DotNetBlazor.Client.Utility;
@implements IDisposable
@inject IEventHelper EventHelper

<button disabled="@IsLoading" class="btn btn-@Type" @onclick="HandleClick" @attributes="FormAttributes">
    @if (IsLoading)
    {
        <span class="spinner-border spinner-border-sm mx-1"></span>
    }
    @if (!string.IsNullOrWhiteSpace(Icon)) {
        <span class="mx-1 oi oi-@Icon" aria-hidden="true"></span> 
    }
    @Text
</button>

@code {
    [Parameter] public string Text { get; set; } = "Submit";
    [Parameter] public string Type { get; set; } = "primary";
    [Parameter] public string? FormId { get; set; }
    [Parameter] public string? Icon { get; set; }
    [Parameter] public EventCallback OnClick { get; set; }

    private bool IsLoading = false;
    private Dictionary<string, object> FormAttributes => FormId != null ? new Dictionary<string, object>
        {
            ["form"] = FormId
        } : new Dictionary<string, object>();

    private async Task HandleClick()
    {
        if (OnClick.HasDelegate)
        {
            await OnClick.InvokeAsync();
        }
    }

    protected override void OnInitialized()
    {
        EventHelper.LoadingState += HandleLoader;
    }

    public void HandleLoader(bool state)
    {
        IsLoading = state;
        StateHasChanged();
    }

    public void Dispose()
    {
        EventHelper.LoadingState -= HandleLoader;
    }
}